@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1641371918630') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-test:before {
  content: "\e637";
}

.icon-icon-test1:before {
  content: "\e638";
}

